[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/bennybp/pybind11.git
[submodule "external/tensor"]
	path = external/tensor
	url = https://github.com/ryanmrichard/Tensor.git
