[submodule "modules/testmodule1"]
	path = modules/testmodule1
	url = vps2.bennyp.org:/srv/git/BPModule/testmodule1.git
[submodule "modules/testpymodule1"]
	path = modules/testpymodule1
	url = vps2.bennyp.org:/srv/git/BPModule/testpymodule1.git
[submodule "modules/test_options"]
	path = modules/test_options
	url = vps2.bennyp.org:/srv/git/BPModule/test_options.git
[submodule "modules/testtensor"]
	path = modules/testtensor
	url = vps2.bennyp.org:/srv/git/BPModule/testtensor.git
